<!doctype html>
<html lang="en">
    <head>
        <title>Image Manipulator</title>
    </head>
    <body>

        <!-- Image Upload  -->
        <h1>Upload an image:</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <hr>
        {% for file in files %}
        <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
        {% endfor %}
        
        <!-- Image Manipulation  -->
        <hr>
        {% block content %}
        <div style="height: 70px;">
          <div>
            <h1 style="text-align:center;">Please type in one of the following (case sensitive):</h1>
            <p>sepia, negative, grayscale, or none</p>
          </div>
        </div>
        <div>
        <form method="POST" action="/" style="text-align: center; margin-left: 500px; padding:15px; margin-top: 245px; width: 450px;">
            {{ form.csrf_token }}
            {{ form.user_selection }} 
            {{ form.user_selection(size=32) }}
            <br>
            <br>
        </div>
        {% endblock %}
        <form method="POST" action="" enctype="application/x-www-form-urlencoded">
          <p><input type = "submit" value = "Manipulation"></p>
        </form>
      </body>
</html>