<!doctype html>
<html lang="en">
    <head>
        <title>image manipulator</title>
    </head>
    <body>
        <h1>Upload an image:</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <hr>
        {% for file in files %}
        <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
        {% endfor %}
        <hr>
        <label for="manipulation">Choose a filter:</label>
        <select name="manipulation" id="manipulation">
            <option value="Sepia">Sepia</option>
            <option value="Negative">Negative</option>
            <option value="Grayscale">Grayscale</option>
            <option value="Thumbnail">Thumbnail</option>
            <option value="None">None</option>
        </select>
        {% for filter_choice in filter_selection %}
        <button type="button" onclick="{{ url_for('filter_selection', filter_choice=option value) }}">Manipulate!</button>
        {% endfor %}
      </body>
</html>